.aboutContent{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 3vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
}
.aboutTitle{
    align-self:center;
    font-size: 5vh;
    margin-bottom: 2vh;
}
.aboutBody{
    font-size:3vh;
    margin-bottom: 2vh;
}
.aboutEnding{
    margin-bottom: 2vh;
}
.aboutFooterDiv{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#aboutLogoImg{
    height: 10vh;
    width: 18vw;
}
