div.contactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#div2{
    display:flex;
    flex-direction: row;
}
#div2 img{
    height:30px;
    width: 35px;
}
#div2 h2{
    margin-top:2px;
    margin-bottom: 2px;
}
#send_message{
    margin-top:0px;
    margin-bottom:20px;
}

.issueForm{
    display: flex;
    flex-direction:column;
    width:100%
}
.issueForm textarea.issueBox{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    height: 450px;
    width: 90%;
    resize:none;
    border: 2px solid;
    box-sizing: border-box;
    margin-bottom:15px;
}
.issueForm input#kind_box{
    align-self: left;
    margin-left: 5%;
    height: 30px;
    width: 30%
}
.issueForm input#submit_button{
    align-self: center;
    font-weight:bold;
    font-size:20px;
    height: 40px;
    width: 100px;
    margin-bottom: 30px;
}
.issueForm label[for=issue_text]{
    font-size:20px;
    font-weight: bold;
    align-self: left;
    height: 25px;
    width: 50%;
    margin-left:5%
}
h2.H2{
    margin-bottom: 10px;
    margin-top:10px;
}
div h2.support_num{
    font-size: 15px;
    margin-top:3px;
    margin-bottom: 5px;
}
