.ddView{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.ddContent{
    margin-top:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:10vw;
    margin-right:3vw;
}
.ddDescription{
    display:flex;
    flex-direction: column; 
    width:50%;
    align-content:center;
}
.ddDescription h1{
    font-size:4vh;
}
.ddDescriptionContent{
    font-weight: bold;
    font-size:2.5vh;;
}
.ddTitle{
    height: 7vh;
    align-self: center;
    margin-bottom:0;
    padding-bottom: 0;
}
.top5{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
}
.top5 h1{
    font-size:4vh;
    align-self: center;
}
.ddActivities{
    align-self:center;
}
.ddLinkDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
}
.ddLink{
    color: black;
    margin-top:2.5vh;
    font-size:3.5vh;
    font-weight:bold;
    text-decoration: none;
    border:solid;
    border-radius:1vh;
    background-color: rgba(128, 128, 128, 0.373);
}
