.blank{
    color:transparent;
    height: 60px;
}
.container{
    background-color:beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    height: 60px;
}
.item a:hover{
    color: grey;
}

.item{
    color: black;
    text-decoration:none;
}