
.header{
  background-color: transparent;
  display: flex;
  font-family:'Arial';
  justify-content: space-between;
  margin: 0; /* no margin on left or right */
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}

.header a {
  color: grey;
  font-size: 24px;
  top: 15px;
  margin-right: 5px;
}
.header a:link{
  color:grey; 
  text-decoration: none; 
}
.header a:hover{
  color:white;
  text-decoration: none; 
}

.headerImage{
  height:50px;
  width:175px;
}
#profileIcon{
  height: 30px;
  padding-top: 15px;
  width: 30px;
}

.headerRight{
  margin-top: 10px;  
  margin-right: 50px; 
}
/* .login_text{
} */

/* #settingIcon{
  float: right;
  height: 55px;
  width: 60px;
  right: 250px;
  top:40px;
} */

/* #helpIcon{
  float: right;
  height: 58px;
  width: 58px;
  right: 330px;
  top:40px;
} */

