.articleBox {
    border: 3px black;  
    border-radius: 15px; 
    border-style: solid; 
    display: flex; 
    flex-direction: row; 
    width: 85vw; 
    height: 30vh;
    margin-bottom: 2vh;
}

.articleImage {
    border-radius: 15px; 
    flex-basis: 30%; 
    width: 25vw;
    height: 30vh;
}

.articleContent {
    display: flex; 
    flex-basis: 70%;
    flex-direction: column;
    margin-left:2vw; 
    height: 40vh;
}

.articleHeader {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin-right: 2vw;
}

.articleDescription {
    margin-top: 1vh;
    -webkit-line-clamp: 2;
    font-size: 3vh;
    font-family:Arial, Helvetica, sans-serif;
}

.bottomBar{
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}
.linkEle:hover{cursor:pointer}
.linkEle{
    font-size: 3vh;
    font-weight:bold;
    border: solid;
    border-radius: 1vh;
    background-color: silver;
}