.loginContainer{
    height:100vh;
    display: flex;
}
.loginContainer .card{
    width:500px;
    background: white;
    box-shadow: 0px 0px 12px 0px #bbbbbb;
    margin: auto;
    border-radius: .5rem;
    padding: 1.5rem;
}
.loginContainer .card .heading{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
}
.loginContainer .card .logoContainer{
    display: flex;
    justify-content:center;
}
.loginContainer .card .logoContainer img{
    width: 250px;
}
.loginContainer .card .form-row{
    width: 100%;
    margin-bottom: 1rem;
}
.loginContainer .card .form-row label {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}