.screen{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    position:fixed;
    background-attachment: fixed;
}
.modal{
    background-color:white;
    border:solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 25vh;
    padding:0;
}
.btns{
    height: 8vh;
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}
.continueBtn2, .homeBtn{
    cursor: pointer;
    width:14vw;
    margin-right: 1.2vw;
    font-size: 2.5vh;
    font-weight: bold;
}
.saveBtn, .profileBtn{
    cursor: pointer;
    width:14vw;
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 1.2vw;
}
.title{
    font-size:5vh;
    height: 20vh;
    display:flex;
    justify-content: center;
    width: 40vw;
    margin-bottom: 1vh;
}